WIIM_IP=wiim_amp_player_ip_address
TV_IP=lg_tv_ip_address
TV_MAC=lg_tv_mac_address
LOX_IP=loxone_miniserver_ip_address
LOX_UDP_PORT=5005
LOX_USER=loxone_miniserver_user
LOX_PASS=loxone_miniserver_password
IP_BINDING=0.0.0.0
SERVER_UDP_PORT=5006
BEEP_START=/usr/share/sounds/sound-icons/percussion-10.wav
BEEP_END=/usr/share/sounds/sound-icons/cembalo-11.wav
SINK_VOL=0.63   # PipeWire SINK volume, 100*0.63**3=25 (25% signal power)
MIC_VOL=1.0     # PipeWire MIC volume,                (100% signal power)