# wiim_amp_player_ip_address
WIIM_IP=wiim_amp_player_ip_address
# lg_tv_ip_address
TV_IP=lg_tv_ip_address
# lg_tv_mac_address
TV_MAC=lg_tv_mac_address
# loxone_miniserver_ip_address
LOX_IP=loxone_miniserver_ip_address
# loxone_miniserver_UDP_PORT
LOX_UDP_PORT=5005
# loxone_miniserver_user
LOX_USER=loxone_miniserver_user
# loxone_miniserver_password
LOX_PASS=loxone_miniserver_password
# UDP server network binding
# Use 0.0.0.0 to accept commands from any network interface (LAN / Wi-Fi)
# Use 127.0.0.1 to restrict incoming UDP packets strictly to local loopback
IP_BINDING=0.0.0.0
# linux_server_UDP_PORT
SERVER_UDP_PORT=5006
# audio marking - wake word detected
BEEP_DETECTED=/usr/share/sounds/freedesktop/stereo/dialog-warning.oga
# audio marking - beginning of cmd recording
BEEP_START=/usr/share/sounds/sound-icons/percussion-10.wav
# audio marking - end of cmd recording
BEEP_END=/usr/share/sounds/sound-icons/cembalo-11.wav
# default speaker volume on app start
SINK_VOL=0.63   # PipeWire SINK volume, 100*0.63**3=25 (25% signal power)
# default mic. volume on app start
MIC_VOL=1.0     # PipeWire MIC volume,                (100% signal power)

# PipeWire SINK volume to PCT signal power = 100*volume**3
# volume = 0.63   >  25% signal power
# volume = 0.794  >  50% signal power
# volume = 0.909  >  75% signal power
# volume = 1.0    > 100% signal power

# wake word detection sensitivity, 0.95 is very strict
#                                  0.85 strict for offline
#                                  0.82 good results for offline
#                                  0.72 for offline + online check
#                                  0.68 for offline + online  
THRESHOLD_LOW=0.62   # Sensitivity for Local Verification check
THRESHOLD_HIGH=0.95  # Skip Local Verification check if openWakeWord confidence is extremely high